/// Border 
$border-width: 1px;
$border-style: solid;
$border-color:  #E1E7ED;

/// Fonts
$font-size-default: 16px;
$font-size-large: 24px;
$font-size-small: 12px;
$font-size-subheader: 14px;

/// Font-weight
$font-weight-regular: 400;
$font-weight-bold: 600;

/// Colors
$color-background: #ffffff;
$color-primary: #142230;
$color-secondary: #485C70;
$color-danger: #ff0000; 
$color-theme-blue: #004F9D;