.form-item-container {
  border: $border-width $border-style $border-color;
  border-radius: 24px;
  padding: 0 16px;
}

.toggle-container {
  margin-bottom: 44px;
}

.form-item {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    height: 84px;

    &:not(:last-child) {
        border-bottom: 1px solid $border-color;
    }
}

label {
  font-size: $font-size-subheader; 
  font-weight: $font-weight-regular;
  color: $color-secondary;
}

.button-container {
  width: -moz-calc(100vw - 31px);
  width: -webkit-calc(100vw - 31px);
  width: -o-calc(100vw - 31px); 
  width: calc(100vw - 31px);
  max-width: 344px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 15.45%, #FFFFFF 100%);
  background-blend-mode: soft-light;
}